# Server
PORT=3000

# Database
DATABASE_URL=postgresql://finance_user:finance_password@postgres:5432/finance_db

# Authentication
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=